<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itsoft.ab.persistence.CallsMapper" >

    <resultMap id="result" type="CallModel">
        <result property="id" column="id"/>
        <result property="clientId" column="clientId"/>
        <result property="statusId" column="statusId"/>
        <result property="comment" column="comment"/>
        <result property="date" column="date"/>
        <result property="typeIds" column="typeIds"/>
        <result property="adId" column="adId"/>
        <result property="teacherId" column="teacherId"/>

        <result property="clientFName" column="clientFName"/>
        <result property="clientLName" column="clientLName"/>
        <result property="statusName" column="statusName"/>
        <result property="phone1" column="phone1"/>
    </resultMap>

    <!--All queries here-->

    <sql id="selectAllFields">
        SELECT c.id,
               c.clientId,
               c.statusId,
               c.comment,
               c.date,
               GROUP_CONCAT(ct.type_id) as typeIds,
               c.adId,
               c.teacherId
    </sql>

    <select id="getAllCalls" resultType="CallModel">
        <include refid="selectAllFields"/>
        FROM calls c
        LEFT JOIN calls_types ct
        ON ct.call_id = c.id
        GROUP BY c.id;
    </select>

    <select id="getAllClientCalls" parameterType="int" resultMap="result">
        SELECT
        calls.date,
        calls.statusId,
        callsStatus.name AS statusName,
        calls.id,
        clients.fname AS clientFName,
        clients.lname AS clientLName,
        calls.clientId,
        clients.phone1 AS phone1,
        calls.comment,
        calls.teacherId
        FROM calls, callsStatus, clients
        WHERE
        calls.clientId = #{id}
        AND calls.clientId = clients.id
        AND calls.statusId = callsStatus.id
    </select>

    <insert id="insertCall" parameterType="CallModel">
        INSERT INTO calls (clientId, statusId, comment, adId, teacherId)
        VALUES (#{clientId, javaType=int, jdbcType=INTEGER},
        #{statusId, javaType=int, jdbcType=INTEGER},
        #{comment, javaType=String, jdbcType=VARCHAR},
        #{adId, javaType=int, jdbcType=INTEGER},
        #{teacherId, javaType=int, jdbcType=INTEGER});

        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <update id="updateCall" parameterType="CallModel">
        UPDATE calls SET
        statusId = #{statusId},
        comment = #{comment},
        adId = #{adId},
        teacherId = #{teacherId}
        WHERE id = #{id}
    </update>

    <delete id="deleteCall" parameterType="int">
        delete from calls where id = #{id}
    </delete>

    <insert id="insertCallTypes" parameterType="CallTypeModel">
        INSERT INTO calls_types(call_id, type_id)
        VALUES
        <foreach collection="CallTypeModels" item="model" separator=",">
            (#{model.callId}, #{model.typeId})
        </foreach>
    </insert>

    <delete id="deleteCallTypes" parameterType="int">
        DELETE FROM calls_types
        WHERE call_id = #{id};
    </delete>

    <select id="getCalls" parameterType="map" resultMap="result">
        <include refid="selectAllFields"/>
        FROM calls c
        LEFT JOIN calls_types ct
        ON ct.call_id = c.id
        WHERE c.date &gt;= #{fromDate} AND c.date &lt;= #{toDate}
        GROUP BY c.id;
    </select>

    <select id="getCallsFrom" parameterType="java.util.Date" resultMap="result">
        <include refid="selectAllFields"/>
        FROM calls c
        LEFT JOIN calls_types ct
        ON ct.call_id = c.id
        WHERE c.date &gt;= #{fromDate}
        GROUP BY c.id;
    </select>

    <select id="getCallsTo" parameterType="java.util.Date" resultMap="result">
        <include refid="selectAllFields"/>
        FROM calls c
        LEFT JOIN calls_types ct
        ON ct.call_id = c.id
        WHERE c.date &lt;= #{toDate}
        GROUP BY c.id;
    </select>

    <select id="getCallById" parameterType="int" resultType="CallModel">
        <include refid="selectAllFields"/>
        FROM calls c
        LEFT JOIN calls_types ct
        ON ct.call_id = c.id
        WHERE c.id=#{id}
        GROUP BY c.id;
    </select>

    <update id="updateClientId" parameterType="map">
        UPDATE calls SET
        clientId = #{clientId}
        WHERE id = #{id}
    </update>

</mapper>