<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itsoft.ab.persistence.FinanceMapper" >

    <resultMap id="result" type="FinanceModel">
        <result property="id" column="id"/>
        <result property="date" column="date"/>
        <result property="value" column="value"/>
        <result property="direction" column="direction"/>
        <result property="clientId" column="clientId"/>
        <result property="teacherId" column="teacherId"/>
        <result property="type" column="type"/>
    </resultMap>

    <!--All queries here-->

    <insert id="insertNew" parameterType="FinanceModel">
        INSERT INTO J_PAYMENTS (value, direction, clientId, teacherId, type)
        VALUES (
        #{value},
        #{direction},
        #{clientId},
        #{teacherId},
        #{type})
    </insert>

    <select id="selectAllTypesDefault" resultType="TypeModel">
        SELECT
        t.id AS id,
        t.name AS name,
        p.pPrice AS pPrice,
        p.dPrice AS dPrice,
        p.gPrice AS gPrice,
        p.aPrice AS aPrice,
        p.pPay AS pPay,
        p.dPay AS dPay,
        p.gPay AS gPay,
        p.aPay AS aPay
        FROM prices_default p LEFT JOIN types t
        ON t.id = p.typeId
    </select>

</mapper>