<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itsoft.ab.persistence.RoomMapper" >

    <resultMap id="result" type="RoomModel">
        <result property="id" column="id"/>
        <result property="filialId" column="filialId"/>
        <result property="name" column="name"/>
    </resultMap>

    <!--All queries here-->

    <select id="selectActiveRooms" resultType="RoomModel">
        SELECT
          r.id,
          r.name,
          r.filialId
        FROM rooms r
        WHERE r.active = 1
    </select>

    <select id="selectActiveFilialRooms" parameterType="int" resultMap="result">
        SELECT
        rooms.id,
        rooms.filialId,
        rooms.name
        FROM rooms
        WHERE rooms.filialId = #{id}
        AND rooms.active = 1
    </select>

    <select id="selectRoomById" parameterType="int" resultType="RoomModel">
        SELECT
        rooms.id,
        rooms.filialId,
        rooms.name
        FROM rooms
        WHERE rooms.id = #{id}
    </select>


</mapper>