<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itsoft.ab.persistence.StatMapper" >

    <select id="getNCalls" resultType="int">
        SELECT
        COUNT(id)
        FROM calls
    </select>

    <select id="getNClients" resultType="int">
        SELECT
        COUNT(id)
        FROM clients
    </select>

    <select id="getValueDo" parameterType="map" resultType="int">
        SELECT
        SUM(value)
        FROM J_PAYMENTS
        WHERE
        date &gt;= #{fromDate} AND date &lt; #{toDate}
        AND direction = 1
    </select>

    <select id="getValuePlan" parameterType="map" resultType="int">
        SELECT
        SUM(value)
        FROM payments
        WHERE
        date &gt;= #{fromDate} AND date &lt; #{toDate}
        AND direction = 1
        AND planned = 1
    </select>

</mapper>