<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itsoft.ab.persistence.TypesMapper" >

    <resultMap id="result" type="TypeModel">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="active" column="active"/>

    </resultMap>

    <!--All queries here-->

    <sql id="selectAllFields">
        SELECT types.id, types.name, types.active
    </sql>

    <select id="selectAll" resultMap="result">
        <include refid="selectAllFields"/>
        FROM types
        ORDER BY types.name ASC
    </select>

    <select id="selectAllActive" resultMap="result">
        SELECT
        types.id,
        types.name,
        types.active
        FROM types
        WHERE
        types.active = 1
        ORDER BY types.name ASC
    </select>

    <select id="getTeacherTypes" parameterType="int" resultType="TypeModel">
        SELECT
        J_TEACHERS_TYPES.typeId AS id,
        J_TEACHERS_TYPES.pPrice AS pPrice,
        J_TEACHERS_TYPES.dPrice AS dPrice,
        J_TEACHERS_TYPES.gPrice AS gPrice,
        J_TEACHERS_TYPES.aPrice AS aPrice,
        types.name AS name,
        types.active AS active
        FROM J_TEACHERS_TYPES, types
        WHERE J_TEACHERS_TYPES.teacherId = #{id}
        AND types.id = J_TEACHERS_TYPES.typeId
    </select>

    <select id="getTypeById" parameterType="int" resultType="TypeModel">
        SELECT
        t.id AS id,
        t.name AS name,
        p.pPrice AS pPrice,
        p.dPrice AS dPrice,
        p.gPrice AS gPrice,
        p.aPrice AS aPrice,
        p.pPay AS pPay,
        p.dPay AS dPay,
        p.gPay AS gPay,
        p.aPay AS aPay
        FROM prices_default p LEFT JOIN types t
        ON t.id = p.typeId
        WHERE t.id = #{id}
    </select>

    <insert id="insertType" parameterType="TypeModel">
        INSERT INTO types (name)
        VALUES (#{name})
    </insert>

    <insert id="insertPrice" parameterType="TypeModel">
        INSERT INTO prices_default (typeId, pPrice, dPrice, gPrice, aPrice, pPay, dPay, gPay, aPay)
        VALUES (
        #{id, javaType=int, jdbcType=INTEGER},
        #{pPrice, javaType=int, jdbcType=INTEGER},
        #{dPrice, javaType=int, jdbcType=INTEGER},
        #{gPrice, javaType=int, jdbcType=INTEGER},
        #{aPrice, javaType=int, jdbcType=INTEGER},
        #{pPay, javaType=int, jdbcType=INTEGER},
        #{dPay, javaType=int, jdbcType=INTEGER},
        #{gPay, javaType=int, jdbcType=INTEGER},
        #{aPay, javaType=int, jdbcType=INTEGER}
        )
    </insert>

    <update id="updateType" parameterType="TypeModel">
        UPDATE types t SET
         t.name = #{name}
         WHERE
         t.id = #{id}
    </update>

    <update id="updatePrice" parameterType="TypeModel">
        UPDATE prices_default
        SET
        pPrice = #{pPrice, javaType=int, jdbcType=INTEGER},
        dPrice = #{dPrice, javaType=int, jdbcType=INTEGER},
        gPrice = #{gPrice, javaType=int, jdbcType=INTEGER},
        aPrice = #{aPrice, javaType=int, jdbcType=INTEGER},
        pPay = #{pPay, javaType=int, jdbcType=INTEGER},
        dPay = #{dPay, javaType=int, jdbcType=INTEGER},
        gPay = #{gPay, javaType=int, jdbcType=INTEGER},
        aPay = #{aPay, javaType=int, jdbcType=INTEGER}
        WHERE
        typeId = #{id}
    </update>

    <select id="getTypeByName" parameterType="String" resultType="TypeModel">
        SELECT
        *
        FROM types
        WHERE types.name = #{name}
    </select>
</mapper>